ul li i {
    font-size:48px;
    color:White;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  /* transform: scale(1.1); */
  padding: 3px;
  border: 1px solid White;
  background-color: #818a99;
  border-radius: 10%;
  transition-property: background;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
